/* Signup.css */
.custom-btn {
    background-color: #424242 !important; /* Dark gray background */
    border: none; /* Remove borders */
    color: white !important; /* White text */
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline-block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margins */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
  }
  
  .custom-btn:hover {
    background-color: #333333 !important; /* Darker gray on hover */
  }

 
  .register-link {
    color: #424242; /* Custom link color */
  }